@model IEnumerable<PowerInfoVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class=row>
<div class="col-md-6">
    <table class="table-bordered" >
        <thead>
            <tr><th>Number</th><th>Square</th><th>Cube</th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
              <tr><td>@item.Number</td><td>@item.Square</td><td>@item.Cube</td></tr>
            }
        </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table-bordered">
      <thead>
        <tr><th>Number</th><th>Square</th><th>Cube</th></tr>
      </thead>
      <tbody>
        @for (int i = 0; i < 10; i++)
        {
          <tr><td>@i</td><td>@(i * i)</td><td>@(i * i * i)</td></tr>
        }
      </tbody>
    </table>
  </div>
</div>